<%- include('partials/header') %>

<div class="container mt-5">
  <br>
  <% user.secret.forEach(function(secret){ %>
  <% usersWithSecrets.forEach(function(user) { %>
    <div class="card m">
      <div class="card-header">
        <h5><%= user.username %></h5>
      </div>
      <div class="card-body">
        <% user.secret.forEach(function(secret){ %>
          <div class="message-container">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="message"><%= secret.message %></div>
              </li>
              <li class="list-group-item">
                <div class="time-container"> <!-- Separate sub-container for time ago -->
                  <span class="time-ago"><%= secret.timeAgo %></span>
                </div>
              </li>
            </ul>
          </div>
        <% });
        %>
      </div>
      <% }); %>
    </div>
  <% }); %>

  <div class="mt-5">
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
