<%- include('partials/header') %>


<div class="container mt-5">
  <% usersWithSecrets.forEach(function(user) { %>
    <% user.secret.forEach(function(secret){ %>
      <div class="card custom-card">
        <div class="card-header custom-header">
          <div class="header-content">
            <div class="user-info">
              <h5 class="username"><%= user.username %></h5>
              <h6 class="mb-0 title"><%= secret.title %></h6>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= secret.message %></p>
          <div class="card-footer">
            <small class="text-muted time-ago"><%= secret.timeAgo %></small>
          </div>
        </div>
      </div>
    <% });
    %>
  <% }); %>
</div>

<style>
  .custom-card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
  }

  .card-text {
    font-size: 16px;
    line-height: 1.6;
    padding: 10px;
    white-space: pre-wrap; /* Preserve new lines and white spaces */
  }

  .custom-card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }

  /* Style for the card header */
  .custom-header {
    background-color: #007bff; /* Header background color */
    color: #fff; /* Header text color */
    border-radius: 10px 10px 0 0;
  }

  .header-content {
    display: flex;
    align-items: center;
  }

  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .user-info {
    flex-grow: 1;
  }

  .username {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }

  .title {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }


  /* Style for the time ago */
  .time-ago {
    color: #777;
    font-size: 14px;
  }
</style>


<%- include('partials/footer') %>
