<%- include('partials/header') %>

<div class="container mt-5">
  <% usersWithSecrets.forEach(function(user) { %>
    <% user.secret.forEach(function(secret){ %>
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <h5><%= user.username %></h5>
        </div>
        <div class="card-body">
          <div class="message-container">
            <h6 class="mb-2"><%= secret.title %></h6>
            <p><%= secret.message %></p>
          </div>
          <div class="time-container">
            <span class="time-ago"><%= secret.timeAgo %></span>
          </div>
        </div>
      </div>
    <% });
    %>
  <% }); %>
</div>

<%- include('partials/footer') %>
